@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

body {
  background-color: white;
  text-align: center;
  font-family: Bodoni Moda;
}

.site-header {
  background: linear-gradient(to bottom, #007fff, #ffffff);
  padding-top: 50px;
  padding-bottom: 150px;
}

.page-title {
  color: white;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: -15px;
  margin-top: -10px;
}

.page-subtitle {
  color: white;
  font-weight: 800;
  font-size: 30px;
}

.page-intro {
  color: white;
  font-weight: 800;
  font-size: x-large;
  margin-top: 55px;
}

.page-introduction {
  color: white;
  font-weight: 500;
  font-size: large;
  width: 400px;
  margin: 0 auto;
}

.site-main {
  padding-top: 150px;
  padding-bottom: 150px;
}

.section-location {
  background-image: url(Location-background-image.png);
  border: 2px solid rgb(196, 196, 196);
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 400px;
  margin-right: 400px;
}

.location-title {
  color: black;
  font-weight: 700;
  font-size: large;
}

.location-text {
  color: black;
  font-weight: 500;
  font-size: large;
  width: 400px;
  margin: 0 auto;
}

.section-history {
  background-image: url(History-background-image.png);
  background-position-y: center;
  border: 2px solid rgb(196, 196, 196);
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 50px;
}

.history-title {
  color: black;
  font-weight: 700;
  font-size: large;
}

.history-text {
  color: black;
  font-weight: 500;
  font-size: large;
  width: 400px;
  margin: 0 auto;
}

.section-phrase {
  background: linear-gradient(to top left, #007fff, #ffffff);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 100px;
}

.phrase-text {
  color: white;
  font-weight: 500;
  font-size: 30px;
}

.section-brescia-today {
  background-color: rgb(236, 236, 236);
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 200px;
}

.brescia-title {
  color: black;
  font-weight: 700;
  font-size: large;
}

.brescia-text {
  color: black;
  font-weight: 500;
  font-size: large;
  width: 400px;
  margin: 0 auto;
}

.section-facts {
  background-color: rgb(221, 221, 221);
  padding-left: 750px;
  padding-right: 750px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 15px;
}

.facts-title {
  color: black;
  font-weight: 700;
  font-size: large;
}

.fact-text {
  color: black;
  font-weight: 500;
  font-size: large;
  width: 400px;
  margin: 0 auto;
}

.section-conclusion {
  margin-top: 40px;
}

.conclusion-title {
  color: black;
  font-weight: 700;
  font-size: large;
}

.conclusion-text {
  color: black;
  font-weight: 500;
  font-size: large;
  width: 400px;
  margin: 0 auto;
}

